/* =============================================================================
/* Global
/* ========================================================================== */

.swift-select-template {
	display: none;
}

.swift-select-shadow-root {
	width: 100%;
	height: 100%;
}

/* =============================================================================
/* Select
/* ========================================================================== */

swift-select {
	display: inline-block;
	vertical-align: text-top;
	min-width: 30px;
	width: 120px;
	height: 1.55em;
	font-family: arial;
	font-size: .9em;
	cursor: pointer;
}

:host(swift-select:host) {
	display: inline-block;
	vertical-align: text-top;
	min-width: 30px;
	width: 120px;
	height: 1.55em;
	font-family: arial;
	font-size: .9em;
	cursor: pointer;
}

swift-select[disabled] {
	cursor: default;
}

:host(swift-select[disabled]:host) {
	cursor: default;
}

.swift-select {
	height: 100%;
}

.swift-select .container {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	max-height: 100%;
	white-space: nowrap;
	text-decoration: none;
	color: #555;
	cursor: inherit;
}

.swift-select .container:focus,
.swift-select .container.focus {
	outline: 1px solid #0AF;
}

.swift-select .text,
.swift-select .button {
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #AAA;
	font-size: inherit;
	font-family: inherit;
}

.swift-select .text {
	padding: 0 .2em;
	border-right: 0;
	background-color: #FFF;
	overflow: hidden;
	text-overflow: ellipsis;
}

.swift-select .button {
	width: 1.5em;
	border-color: rgba(0, 0, 0, .2);
	background-color: #59D;
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, .3) inset;
	text-align: center;
	text-shadow: 1px 1px rgba(255, 255, 255, .1);
	color: rgba(0, 0, 0, .5);
}

.swift-select .button:hover {
	background-color: #6AE;
}

swift-select[disabled] .swift-select .text {
	background-color: #DDD;
	color: #777;
}

:host(swift-select[disabled]:host) .swift-select .text {
	background-color: #DDD;
	color: #777;
}

swift-select[disabled] .swift-select .button {
	background-color: #AAA;
}

:host(swift-select[disabled]:host) .swift-select .button {
	background-color: #AAA;
}

/* =============================================================================
/* Options
/* ========================================================================== */

swift-select-options {
	position: absolute;
	z-index: 2147483648;
	display: block;
	top: 0;
	left: 0;
	font-family: arial;
	font-size: .9em;
	color: #000;
}

:host(swift-select-options:host) {
	position: absolute;
	z-index: 2147483648;
	display: block;
	top: 0;
	left: 0;
	font-family: arial;
	font-size: .9em;
}

.swift-select-options {
	height: 100%;
}

.swift-select-options mark {
	background-color: transparent;
	color: inherit;
	font-weight: bold;
}

.swift-select-options .container {
	position: fixed;
	border: 1px solid #777;
	background-color: #FFF;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.swift-select-options .input-container {
	padding: 5px;
	border-bottom: 1px solid #AAA;
}

.swift-select-options .bottom .input-container {
	border-top: 1px solid #AAA;
	border-bottom: 0;
}

.swift-select-options .input {
	width: 100%;
	padding: 2px 3px;
	border: 1px solid #AAA;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .1) inset;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.swift-select-options .helpers {
	display: none;
}

.swift-select-options .multiple .helpers {
	display: block;
	padding: .2em 0;
	overflow: hidden;
}

.swift-select-options .multiple .helper {
	color: #00F;
	font-size: .8em;
	text-decoration: underline;
	cursor: pointer;
}

.swift-select-options .multiple .all {
	float: left;
}

.swift-select-options .multiple .clear {
	float: right;
}

.swift-select-options .scroll {
	position: relative;
	overflow: auto;
}

.swift-select-options .hidden {
	display: none;
}

.swift-select-options .sizer {
	margin-right: 30px;
	overflow: hidden;
}

.swift-select-options .list {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.swift-select-options .option,
.swift-select-options .none {
	padding: 0 4px;
	height: 20px;
	line-height: 20px;
	color: #000;
	white-space: nowrap;
	cursor: pointer;
}

.swift-select-options .option .state {
	display: none;
}

.swift-select-options .empty {
	overflow: visible;
}

.swift-select-options .none {
	display: none;
	cursor: default;
}

.swift-select-options .empty .none {
	display: block;
}

.swift-select-options .option.hidden {
	display: none;
}

.swift-select-options .option.highlight {
	background-color: #18F;
	color: #FFF;
}

/* =============================================================================
/* Multiple Select
/* ========================================================================== */

.swift-select-options .multiple .option .state {
	display: inline-block;
	vertical-align: baseline;
	width: 6px;
	height: 6px;
	margin-right: 4px;
	outline: 1px solid #000;
	border: 2px solid #FFF;
	background-color: #FFF;
}

.swift-select-options .multiple .option.selected .state {
	background-color: #18F;
}
